* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --heading-background-color: #f06;
    --heading-text-color: #333;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}
nav {
    background-color: darkblue;
    padding:10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: darkblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem
}
p {
    padding: 0;
}
main{
    max-width: 840px;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: var(--padding);
    background-color: #eeeeee;
    color: var(--heading-text-color);
    text-align: center;
    position: relative;
}
aside img{
     width: 200px;
     height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px; 
    color: lightgreen;
     
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* class selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #ddd;
    border: 1px solid rgb(0 0 0 / 0.1);
    color: #000;
}